.reset-password-card {
  width: 400px;
  margin: 10% auto;

  .mat-card-title {
    font-size: 16px;
  }
}

.reset-password-form {
  .form-field-full-width {
    width: 100%;
  }

  .form-error {
    font-size: 12px;
  }
}

.reset-password-btn {
  width: 100%;
  margin-top: 32px;
  padding: 4px;
  text-transform: uppercase;
}
