<app-static-header></app-static-header>
<mat-card class="reset-password-card">
  <mat-card-header>
    <mat-card-title>Reset Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="resetPasswordForm" class="reset-password-form">
      <mat-form-field class="form-field-full-width">
        <input matInput formControlName="password" required type="password" placeholder="Password" />
        <mat-error class="form-error" *ngIf="resetPasswordForm.controls?.password?.errors?.minlength">
          Password must be at least 5 characters long.
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <mat-error class="form-error" *ngIf="isError">Some error occured. Please try again.</mat-error>
    <button class="reset-password-btn" mat-raised-button [disabled]="!resetPasswordForm.valid" color="primary" (click)="resetPassword()">
      Reset Password
    </button>
    <!-- Login -->
    <p>
      <a href="/login">Sign In</a>
    </p>
  </mat-card-actions>
</mat-card>
